/* Footer */
#page-footer {
    text-transform: uppercase;
    width: 100%;
    color: $color_footer_copy;
    background: $footer_bg_color;
    margin: 0 auto;
    padding: 280px $page_padding;
    position: absolute;

    p {
        font-size: 3rem;
        line-height: 200%;
    }

    .social-copy {
        float: left;
        display: inline-block;
        margin-top: 20px;
        p {
            font-size: 2rem;
            line-height: 150%;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .social-icons {
        float: left;
        margin-left: 80px;
        .icon {
            display: inline-block;
            margin-right: 15px;

            a {
                display: block;
            }
        }
    }
}