#page-header {
    border-bottom: 2px solid #d2d2d2;
    overflow: visible;
    width: 100%;
    height: 56px;
    z-index: 1000;

    /**
     * Menu icon
     */
    .nav-icon-container {
        width: 30px;
        height: 25px;
        margin: 18px 0 0 3%;
        cursor: pointer;
        position: fixed;
        z-index: 3;

        .line {
            @include transition(all 280ms cubic-bezier(0.215,.61,.355,1));
            position: absolute;
            width: 30px;
            height: 6px;
            background-color: #000;
            @include translate3d(0, 0, 0);

            &.line01 {
                @include transition-delay(195ms);
                opacity: 1;
            }

            &.line02 {
                top: 10px;
                @include transition-delay(130ms);
            }

            &.line03 {
                top: 20px;
                @include transition-delay(65ms);
            }

            &.line04 {
                top: 30px;
                opacity: 0;
                @include transition-delay(0ms);
            }
        }

        &:hover {
            .line {
                @include translate3d(0, -10px, 0);
            }

            .line01 {
                opacity: 0;
            }

            .line04 {
                opacity: 1;
            }
        }
    }

    /**
     * Dropdown menu
     */
    #menu {
        position: fixed;
        top: 0px;
        background: #171717;
        width: 100%;
        height: 350px;
        padding: 50px 0 160px $page_padding + 50px;
        @include translate3d(0, -100%, 0);
        @include transition(all 0.4s ease-in-out);
    }

    .email {
        background: url($images_dir + 'email_icon.png') 0 0 no-repeat;
        background-size: 32px 24px;
        padding-left: 45px;
        p {
            color: #fff;
            text-transform: uppercase;
        }
    }

    #navbar {
        list-style-type: none;

        .navitem {
            padding: 65px 85px;
            border: 1px solid rgba(255,255,255,0.1);
            text-align: center;
            position: relative;
            cursor: pointer;

            p {
                font-family: dinproblack, 'Helvetica Neue', Helvetica, sans-serif;
                text-decoration: none;
                color: #fff;
                font-size: 4.5rem;
            }

            &:hover, &.active {
                :after {
                    position: absolute;
                    content: "";
                    height: 12px;
                    width: 100%;
                    bottom: 0px;
                    background: #fff;
                    opacity: 1;
                    left: 0;
                    @include transition(all 0.3s ease-in-out);


                }

            }
        }
    }

    &.active {
        #menu {
            z-index: 3;
            @include translate3d(0, 0, 0);

        }
    }
}