/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Page sizes and margins and paddings */
/* Font Sizes */
/* line 21, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 29, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 33, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* line 36, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 40, ../scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 43, ../scss/_reset.scss */
blockquote {
  margin: 1rem 2.5rem;
}

/* line 46, ../scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 49, ../scss/_reset.scss */
mark {
  background: white;
  color: #444444;
}

/* line 56, ../scss/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1rem;
}

/* line 61, ../scss/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 66, ../scss/_reset.scss */
q {
  quotes: none;
}

/* line 70, ../scss/_reset.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 74, ../scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 78, ../scss/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 84, ../scss/_reset.scss */
sup {
  top: -0.5rem;
}

/* line 87, ../scss/_reset.scss */
sub {
  bottom: -0.25rem;
}

/* line 90, ../scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 93, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* line 96, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 101, ../scss/_reset.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

/* line 107, ../scss/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  /* line 117, ../scss/_reset.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 124, ../scss/_reset.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 127, ../scss/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 130, ../scss/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 135, ../scss/_reset.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 139, ../scss/_reset.scss */
  pre,
  blockquote {
    border: 1px solid #444444;
    page-break-inside: avoid;
  }

  /* line 143, ../scss/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* line 147, ../scss/_reset.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 150, ../scss/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 158, ../scss/_reset.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 163, ../scss/_reset.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Page sizes and margins and paddings */
/* Font Sizes */
/* line 1, ../scss/_icons.scss */
.social-icon {
  display: block;
  width: 104px;
  height: 104px;
  line-height: 104px;
  text-align: center;
  background: #232323;
}
/* line 9, ../scss/_icons.scss */
.social-icon:hover, .social-icon:active {
  background: #18e700;
}
/* line 13, ../scss/_icons.scss */
.social-icon img {
  vertical-align: middle;
}

/* line 18, ../scss/_icons.scss */
.icon {
  cursor: pointer;
}

/* line 23, ../scss/_icons.scss */
.nav-icon img {
  height: 25px;
  width: 30px;
}

/* line 5, ../scss/project.scss */
#project-container {
  z-index: 1;
}
/* line 2, ../scss/_mixins.scss */
#project-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../scss/project.scss */
#project-container .project-thumbnail {
  position: relative;
  float: left;
  width: 290px;
  height: 290px;
  cursor: pointer;
}
/* line 17, ../scss/project.scss */
#project-container .project-thumbnail .project-overlay {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  z-index: 0;
}
/* line 27, ../scss/project.scss */
#project-container .project-thumbnail .project-copy, #project-container .project-thumbnail .project-image {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 35, ../scss/project.scss */
#project-container .project-thumbnail .project-image {
  height: 100%;
  min-height: 260px;
}
/* line 40, ../scss/project.scss */
#project-container .project-thumbnail .project-copy {
  overflow: visible;
  color: #fff;
  text-align: center;
  top: 50%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 50, ../scss/project.scss */
#project-container .project-thumbnail .project-copy h2, #project-container .project-thumbnail .project-copy h3 {
  line-height: 3rem;
  margin: 0;
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 58, ../scss/project.scss */
#project-container .project-thumbnail .project-copy h3 {
  font-family: dinprolight, Helvetica Neue, Helvetica, sans-serif;
  -webkit-transition-delay: 50ms;
  -moz-transition-delay: 50ms;
  -o-transition-delay: 50ms;
  transition-delay: 50ms;
}
/* line 63, ../scss/project.scss */
#project-container .project-thumbnail .project-copy h2 {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 67, ../scss/project.scss */
#project-container .project-thumbnail .project-copy:after {
  content: "";
  position: absolute;
  height: 7px;
  background-color: #FFF;
  width: 54px;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 20px, 0);
  -moz-transform: translate3d(-50%, 20px, 0);
  -ms-transform: translate3d(-50%, 20px, 0);
  -o-transform: translate3d(-50%, 20px, 0);
  transform: translate3d(-50%, 20px, 0);
  -webkit-transition-delay: 130ms;
  -moz-transition-delay: 130ms;
  -o-transition-delay: 130ms;
  transition-delay: 130ms;
  -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
/* line 83, ../scss/project.scss */
#project-container .project-thumbnail img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease-in-out;
}
/* line 89, ../scss/project.scss */
#project-container .project-thumbnail.active img {
  /*transform*/
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 99, ../scss/project.scss */
#project-container .project-thumbnail.active .project-copy h2, #project-container .project-thumbnail.active .project-copy h3 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 104, ../scss/project.scss */
#project-container .project-thumbnail.active .project-copy:after {
  -webkit-transform: translate3d(-50%, -10px, 0);
  -moz-transform: translate3d(-50%, -10px, 0);
  -ms-transform: translate3d(-50%, -10px, 0);
  -o-transform: translate3d(-50%, -10px, 0);
  transform: translate3d(-50%, -10px, 0);
  opacity: 1;
}
/* line 112, ../scss/project.scss */
#project-container .project-thumbnail.inactive .project-overlay {
  opacity: 0.3;
  z-index: 2;
}

@font-face {
  font-family: 'dinprolight';
  src: url("../fonts/dinpro-light-webfont.eot");
  src: url("../fonts/dinpro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-light-webfont.woff") format("woff"), url("../fonts/dinpro-light-webfont.ttf") format("truetype"), url("../fonts/dinpro-light-webfont.svg#dinprolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro-regularregular';
  src: url("../fonts/dinpro-regular-webfont.eot");
  src: url("../fonts/dinpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-regular-webfont.woff") format("woff"), url("../fonts/dinpro-regular-webfont.ttf") format("truetype"), url("../fonts/dinpro-regular-webfont.svg#dinpro-regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinproblack';
  src: url("../fonts/dinpro-black-webfont.eot");
  src: url("../fonts/dinpro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-black-webfont.woff") format("woff"), url("../fonts/dinpro-black-webfont.ttf") format("truetype"), url("../fonts/dinpro-black-webfont.svg#dinproblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../scss/header.scss */
#page-header {
  border-bottom: 2px solid #d2d2d2;
  height: 56px;
  overflow: visible;
  /**
   * Menu icon
   */
  /**
   * Dropdown menu
   */
}
/* line 9, ../scss/header.scss */
#page-header .nav-icon-container {
  width: 30px;
  height: 25px;
  position: relative;
  top: 0px;
  margin: 18px 0 18px 3%;
  cursor: pointer;
}
/* line 17, ../scss/header.scss */
#page-header .nav-icon-container .line {
  -webkit-transition: all 280ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 280ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 280ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 280ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: #000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 25, ../scss/header.scss */
#page-header .nav-icon-container .line.line01 {
  -webkit-transition-delay: 195ms;
  -moz-transition-delay: 195ms;
  -o-transition-delay: 195ms;
  transition-delay: 195ms;
  opacity: 1;
}
/* line 30, ../scss/header.scss */
#page-header .nav-icon-container .line.line02 {
  top: 10px;
  -webkit-transition-delay: 130ms;
  -moz-transition-delay: 130ms;
  -o-transition-delay: 130ms;
  transition-delay: 130ms;
}
/* line 35, ../scss/header.scss */
#page-header .nav-icon-container .line.line03 {
  top: 20px;
  -webkit-transition-delay: 65ms;
  -moz-transition-delay: 65ms;
  -o-transition-delay: 65ms;
  transition-delay: 65ms;
}
/* line 40, ../scss/header.scss */
#page-header .nav-icon-container .line.line04 {
  top: 30px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 48, ../scss/header.scss */
#page-header .nav-icon-container:hover .line {
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 52, ../scss/header.scss */
#page-header .nav-icon-container:hover .line01 {
  opacity: 0;
}
/* line 56, ../scss/header.scss */
#page-header .nav-icon-container:hover .line04 {
  opacity: 1;
}
/* line 65, ../scss/header.scss */
#page-header #menu {
  position: absolute;
  top: 0px;
  background: #171717;
  width: 100%;
  height: 350px;
  padding: 50px 0 160px 257px;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 76, ../scss/header.scss */
#page-header .email {
  background: url("/content/themes/yeopress/images/email_icon.png") 0 0 no-repeat;
  background-size: 32px 24px;
  padding-left: 45px;
}
/* line 80, ../scss/header.scss */
#page-header .email p {
  color: #fff;
  text-transform: uppercase;
}
/* line 86, ../scss/header.scss */
#page-header #navbar {
  list-style-type: none;
}
/* line 89, ../scss/header.scss */
#page-header #navbar .navitem {
  padding: 65px 85px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  position: relative;
  cursor: pointer;
}
/* line 96, ../scss/header.scss */
#page-header #navbar .navitem a {
  font-family: dinproblack, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 4.5rem;
}
/* line 104, ../scss/header.scss */
#page-header #navbar .navitem:hover :after, #page-header #navbar .navitem.active :after {
  position: absolute;
  content: "";
  height: 12px;
  width: 100%;
  bottom: 0px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 123, ../scss/header.scss */
#page-header.active #menu {
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ==========================================================================
	Base
/* ========================================================================== */
/* line 10, ../scss/global.scss */
html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 20, ../scss/global.scss */
html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  color: #444444;
}

/* line 24, ../scss/global.scss */
body {
  height: 100%;
  margin: 0;
  font-family: dinprolight, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background: white;
}

/*	Apply to all elements. In a responsive design, this is almost always a good idea */
/* line 34, ../scss/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */
/* line 43, ../scss/global.scss */
a {
  color: #26527c;
  text-decoration: underline;
}

/* line 48, ../scss/global.scss */
a:focus,
a:hover {
  color: #08111a;
}

/* line 51, ../scss/global.scss */
a:focus {
  outline: thin dotted;
}

/* line 55, ../scss/global.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
/* line 63, ../scss/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: dinproblack, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 0 1rem;
  line-height: 1.5rem;
}

/* line 69, ../scss/global.scss */
h1 {
  font-size: 4.5rem;
  line-height: 133%;
}

/* line 73, ../scss/global.scss */
h2 {
  font-size: 3.5rem;
}

/* line 76, ../scss/global.scss */
h3 {
  font-size: 2rem;
  line-height: 150%;
}

/* line 80, ../scss/global.scss */
h4 {
  font-size: 1.3rem;
  font-weight: normal;
}

/* line 84, ../scss/global.scss */
h5, h6 {
  font-size: 1.1rem;
}

/* Content Block Elements */
/* line 92, ../scss/global.scss */
dl,
menu,
p,
pre {
  margin: 0 0 1rem;
}

/* Paragraphs */
/* line 97, ../scss/global.scss */
p {
  font-size: 2rem;
}

/* line 102, ../scss/global.scss */
strong, em {
  font-family: dinproblack, Helvetica Neue, Helvetica, sans-serif;
}

/* Lists */
/* line 109, ../scss/global.scss */
menu,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Selection Colors */
/* line 115, ../scss/global.scss */
::-moz-selection {
  background: #444444;
  color: white;
  text-shadow: none;
}

/* line 120, ../scss/global.scss */
::selection {
  background: #444444;
  color: white;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
/* line 133, ../scss/global.scss */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
/* line 154, ../scss/global.scss */
.media {
  /* Set width on this selector based on design and needs */
}

/* line 160, ../scss/global.scss */
.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
/* line 168, ../scss/global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 172, ../scss/global.scss */
.clearfix:after {
  clear: both;
}

/* Floats */
/* line 178, ../scss/global.scss */
.floatleft {
  float: left;
}

/* line 181, ../scss/global.scss */
.floatright {
  float: right;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
/* Less than 320px but will apply at all sizes */
/* Content */
/* line 198, ../scss/global.scss */
#content-wrap {
  padding: 1rem;
  background: #fff;
}

/* line 202, ../scss/global.scss */
.article {
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

/* line 206, ../scss/global.scss */
.article-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

/* line 211, ../scss/global.scss */
.article-title {
  margin-bottom: 0;
}
/* line 214, ../scss/global.scss */
.article-title a {
  text-decoration: none;
}

/* line 218, ../scss/global.scss */
.article-info {
  font-size: .825em;
}

/* Sidebar */
/* line 223, ../scss/global.scss */
#page-sidebar {
  background: #eee;
  padding: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
/* line 230, ../scss/global.scss */
#page-sidebar > ul {
  list-style: none;
  padding: 0;
}

/* line 236, ../scss/global.scss */
.search-form {
  background: url("/content/themes/yeopress/images/black_lozenge.png");
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
/* line 245, ../scss/global.scss */
.search-form .input-wrap {
  float: left;
}
/* line 248, ../scss/global.scss */
.search-form .input-wrap label {
  display: none;
}
/* line 251, ../scss/global.scss */
.search-form .input-wrap input {
  width: 100%;
}
/* line 255, ../scss/global.scss */
.search-form .search {
  width: 75%;
  margin-right: 3%;
}
/* line 259, ../scss/global.scss */
.search-form .submit {
  width: 22%;
}

/* Footer */
/* line 265, ../scss/global.scss */
#page-footer {
  text-transform: uppercase;
  width: 100%;
  color: white;
  background: #1e1e1e;
  margin: 0 auto;
  padding: 280px 207px;
}
/* line 273, ../scss/global.scss */
#page-footer p {
  font-size: 3rem;
  line-height: 200%;
}
/* line 278, ../scss/global.scss */
#page-footer .social-copy {
  float: left;
  display: inline-block;
  margin-top: 20px;
}
/* line 282, ../scss/global.scss */
#page-footer .social-copy p {
  font-size: 2rem;
  line-height: 150%;
}
/* line 288, ../scss/global.scss */
#page-footer .social-icons {
  float: left;
  margin-left: 80px;
}
/* line 291, ../scss/global.scss */
#page-footer .social-icons .icon {
  display: inline-block;
  margin-right: 15px;
}

/**
 * OVERLAY
 */
/* line 302, ../scss/global.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity, 0.3s ease-in-out;
  -moz-transition: opacity, 0.3s ease-in-out;
  -o-transition: opacity, 0.3s ease-in-out;
  transition: opacity, 0.3s ease-in-out;
}
/* line 316, ../scss/global.scss */
.overlay.active {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

/* 320px to 479px */
/* 480px to 639px */
@media only screen and (min-width: 480px) {
  /* line 330, ../scss/global.scss */
  #page-header ul {
    overflow: auto;
  }
  /* line 332, ../scss/global.scss */
  #page-header ul li {
    float: left;
  }
}
/* 640px to 767px */
/* 768px to 1024px */
@media only screen and (min-width: 768px) {
  /* line 348, ../scss/global.scss */
  #content-wrap {
    overflow: auto;
  }

  /* line 351, ../scss/global.scss */
  #js-application {
    width: 100%;
    padding: 0;
  }

  /* line 355, ../scss/global.scss */
  #page-sidebar {
    float: right;
    width: 40%;
  }

  /* line 360, ../scss/global.scss */
  .search-form .search {
    width: 70%;
  }
  /* line 363, ../scss/global.scss */
  .search-form .submit {
    width: 27%;
  }
}
/* 1024px to 1534px */
@media only screen and (min-width: 1024px) {
  /* line 371, ../scss/global.scss */
  #page-wrap {
    width: 80%;
  }

  /* line 374, ../scss/global.scss */
  #js-application {
    width: 100%;
  }
  /* line 376, ../scss/global.scss */
  #js-application #project-container {
    padding: 0 207px;
  }

  /* line 381, ../scss/global.scss */
  #page-sidebar {
    width: 31%;
  }

  /* line 384, ../scss/global.scss */
  #page-footer {
    width: 100%;
  }
}
/* More than 1534px */
/* High PX Density */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 396, ../scss/global.scss */
  #page-header {
    background: url("/content/themes/yeopress/images/black_lozenge_@2X.png");
  }

  /* line 399, ../scss/global.scss */
  .search-form {
    background: url("/content/themes/yeopress/images/black_lozenge_@2X.png");
  }
}
