<div id="about">
    <h1>Giles Watson. Art Director</h1>
    <p>I like to make stuff people love. I’ve worked in some of the world’s best agencies, helping big brands do great things.
    I’m traditional, digital and experiential. My mum’s proud.</p>
</div>
<div id="social">
    <div class="social-copy">
        <p><strong>email</strong> <span>gmswatson@gmail.com</span></p>
        <p><strong>linkedin</strong> <span>uk.linkedin.com/gilesw</span></p>
    </div>
    <div class="social-icons">
        <div class="icon social-icon">
            <img src="<?php echo get_bloginfo('template_url');?>/images/behance_icon.png" />
        </div>
        <div class="icon social-icon">
            <img src="<?php echo get_bloginfo('template_url');?>/images/instagram_icon.png" />
        </div>
        <div class="icon social-icon">
            <img src="<?php echo get_bloginfo('template_url');?>/images/twitter_icon.png" />
        </div>
    </div>
</div>
