<div id="about-section">
    <h1>Giles Watson. Art Director</h1>
    <p>{{about_page_copy.[0]}}</p>
</div>
<div id="social">
    <div class="social-copy">
        <p><strong>email</strong> <a href="mailto:{{email_address.[0]}}"><span>{{email_address.[0]}}</span></a></p>
        <p><strong>linkedin</strong> <a href="http://{{linkedin_address.[0]}}" target="_blank" title="Visit my Linkedin portfolio"><span>{{linkedin_address.[0]}}</span></a></p>
    </div>
    <div class="social-icons">
        <div class="icon social-icon">
            <a href="{{behance.[0]}}" target="_blank" title="Visit my Behance portfolio">
                <img src="images/behance_icon.png" />
            </a>

        </div>
        <div class="icon social-icon">
            <a href="{{instagram.[0]}}" target="_blank" title="Check me out on Instagram">
                <img src="images/instagram_icon.png" />
            </a>
        </div>
        <div class="icon social-icon">
            <a href="{{twitter.[0]}}" target="_blank" title="Follow me on Twitter">
                <img src="images/twitter_icon.png" />
            </a>
        </div>
    </div>
</div>
