<div class="nav-icon-container">
    <span class="line line01"></span>
    <span class="line line02"></span>
    <span class="line line03"></span>
    <span class="line line04"></span>
<!--<img src="<?php echo get_bloginfo('template_url');?>/images/menu_icon.png" />-->
</div>
<div id="menu">
    <div class="email"><p>gmswatson@gmail.com</p></div>
    <ul id="navbar">
        <li class="navitem">
            <a href="#home">HOME</a>
        </li>
        <li class="navitem">
            <a href="#work">WORK</a>
        </li>
        <li class="navitem">
            <a href="#about">ABOUT</a>
        </li>
    </ul>
</div>